The _Project Mirror_ System.json
{
  "name": "The \"Project Mirror\" System",
  "nodes": [
    {
      "parameters": {
        "id": "69272b54266754c10b0c3c87"
      },
      "type": "n8n-nodes-base.trelloTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4c9eabd6-a9da-491c-af3c-cb5b249da4b5",
      "name": "Trello Trigger",
      "webhookId": "26d19798-126b-4aad-9a0d-c19d48367506",
      "credentials": {
        "trelloApi": {
          "id": "iYdzskvz6XvfAlAZ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19OdeQDt5QESf731xP714tK0dv5r184TOuhpefF6WJaQ",
          "mode": "list",
          "cachedResultName": "Sprint_Report_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19OdeQDt5QESf731xP714tK0dv5r184TOuhpefF6WJaQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19OdeQDt5QESf731xP714tK0dv5r184TOuhpefF6WJaQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "card_id": "={{ $json.action.data.card.id }}",
            "task_name": "={{ $json.action.data.card.name }}",
            "status": "={{ $json.action.data.listAfter }}",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "card_id"
          ],
          "schema": [
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "262e60c3-05f9-49d3-b36c-970bbde30f11",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qVgRmNh7dNbznLTV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ad10c1c-dfa3-415d-b0f1-92dff4840141",
              "leftValue": "={{ $json.status.name }}",
              "rightValue": "=Done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "00b3dcb8-5b54-46e1-8974-d338e4b8d271",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "j1joshu@gmail.com",
        "subject": "=✅ Task Complete: {{ $json.task_name }}",
        "message": "Boss, the task is done!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        -16
      ],
      "id": "45f74d6c-7811-4453-88d0-c07ce64d6a17",
      "name": "Send a message",
      "webhookId": "0f20b67e-bdbd-4cd4-9b55-47d3ba39ff1b",
      "credentials": {
        "gmailOAuth2": {
          "id": "lyNOpXRj8KvVJztc",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trello Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95068d73-03d2-4da6-8235-c8a4a01c7f24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1829306d7b807769949009ce7aafb51ab12f034a057b1e73e1dca4edb0f48de"
  },
  "id": "4NXfN0upYDUrELa8",
  "tags": []
}